%h1 Choose a New Password

- form_for @user, :url => password_reset_path, :method => :put do |f|

  %p= f.error_messages
  
  %p
    = f.label :password
    %br
    = f.password_field :password
  
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation

  %p
    = f.submit "Change my password and login"
  
  