%h1= @page_title = "Watch List"

.help
  Use your watch list to temporarily keep track of other people's books that you're interested in. It's private &mdash; only you can see it.

- if @watchings.count > 0
  %table
    %tr
      %th
      %th
      %th Offered by
      %th
    - for watching in @watchings
      - book = watching.book
      %tr
        %td= link_to (image_tag book.title.image_url, :height => 80), book.title
        %td
          %span.book_list_title
            = link_to book.title.title, book.title
          %br 
          = book.title.subtitle
          %br
          %br
          = link_to book.title.authors.first.name, author_path(book.title.authors.first)
          %br
        %td
          = link_to image_tag(book.user.gravatar_image_url(60)), :controller => :members, :action => :show, :login => book.user.login
          %br
          = link_to book.user.login, :controller => :members, :action => :show, :login => book.user.login
        %td
          - if book.status == StaticData::BOOK_STATUS['AVAILABLE']
            available
          - elsif book.status == StaticData::BOOK_STATUS['ONLOAN']
            on loan
          - else
            = book.status_text  
        %td
          - if current_user && ! current_user.owns?(book) && (book.status == StaticData::BOOK_STATUS['AVAILABLE'] || book.status == StaticData::BOOK_STATUS['ONLOAN'])
            = link_to "Request Book", :controller => :messages, :action => :request_new, :book => book, :recipient => book.user.login
        %td= link_to 'Unwatch', watching_path(watching), :method => :delete


- else
  %p You're not watching any books.