!!!5
%html
  %head
  
  
    %title= @page_title.nil? ? "Social Library" : @page_title + " - Social Library"
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico', :type => 'image/x-icon' }
    %link{ :rel => 'apple-touch-icon', :href => '/images/apple-touch-icon.png' }
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield :head
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24367354-1']);
      _gaq.push(['_setDomainName', '.the-social-library.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    
    <script type="text/javascript">var _kiq = _kiq || [];</script>
    <script type="text/javascript" src="//s3.amazonaws.com/ki.js/21317/4cc.js" async="true"></script>
    
    
    .access
      %a{ :href => '#main', :accesskey => 's' }<
        Skip to Content
      &nbsp;&nbsp;
      =link_to_unless_current "Accessibility", { :controller => 'pages', :action => 'accessibility' }, :accesskey => '0'
      &nbsp;&nbsp;
      =link_to_unless_current "Contact Us", { :controller => 'pages', :action => 'contact' }, :accesskey => '9'
        

    
        
    %h1.logo
      = link_to(image_tag('heading-sociallibrary.png', :alt => "Social Library logo"), :controller => 'pages', :action => 'home')
      

    #userbar
      = link_to_unless_current "[ home ]", { :controller => 'pages', :action => 'home' }, :accesskey => '1'
      &nbsp;&nbsp;
      - if current_user
      
        Logged in as
        %strong
          = link_to current_user.login, :controller => :members, :action => :show, :login => current_user.login
        &nbsp;&nbsp;
        = link_to_unless_current "my books (#{current_user.books.count.to_s})", books_path, :accesskey => '2'
        &nbsp;&nbsp;
        = link_to_unless_current "lent (#{current_user.active_loans.count.to_s})", :lent, :accesskey => '3'
        &nbsp;&nbsp;
        = link_to_unless_current "borrowed (#{current_user.active_borrowings.count.to_s})", :borrowings, :accesskey => '4'
        &nbsp;&nbsp;
        = link_to_unless_current "watch list (#{current_user.watched_books.count.to_s})", :watchlist, :accesskey => '5'
        -#
          &nbsp;&nbsp;
          = link_to_unless_current "my account", :account, :accesskey => '6'
        &nbsp;&nbsp;
        = link_to_unless_current "[ log out ]", :logout, :method => :delete, :confirm => "Are you sure you want to logout?"
        &nbsp;&nbsp;
        %a{ :href => 'http://blog.the-social-library.org/' }<
          blog
      - else
        = link_to_unless_current "[ register ]", :register
        &nbsp;&nbsp;
        = link_to_unless_current "[ log in ]", :login
        &nbsp;&nbsp;
        %a{ :href => 'http://blog.the-social-library.org/' }<
          blog
    
    #main
      
      - if flash.notice
        .notice= flash.notice
      - if flash.alert
        .notice.alert= flash.alert
  
      = yield
    
    #footer
      =link_to_unless_current "Disclaimer", { :controller => 'pages', :action => 'disclaimer' }
      
      %a{ :href => 'http://blog.the-social-library.org/' }<
        Blog
        

