!!!5
%html
  %head
  
  
    %title= @page_title.nil? ? "Social Library" : @page_title + " - Social Library"
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico', :type => 'image/x-icon' }
    %link{ :rel => 'apple-touch-icon', :href => '/images/apple-touch-icon.png' }
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield :head
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24367354-1']);
      _gaq.push(['_setDomainName', '.the-social-library.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    
    <script type="text/javascript">var _kiq = _kiq || [];</script>
    <script type="text/javascript" src="//s3.amazonaws.com/ki.js/21317/4cc.js" async="true"></script>
    
    
    .access
      %a{ :href => '#main', :accesskey => 's' }<
        Skip to Content
      &nbsp;&nbsp;
      =link_to_unless_current "Accessibility", { :controller => 'pages', :action => 'accessibility' }, :accesskey => '0'
      &nbsp;&nbsp;
      =link_to_unless_current "Contact Us", { :controller => 'pages', :action => 'contact' }, :accesskey => '9'
        

    
        
    %h1.logo
      = link_to(image_tag('heading-sociallibrary.png', :alt => "Social Library logo"), :controller => 'pages', :action => 'home')
      

    #userbar
      = link_to_unless_current "[ home ]", { :controller => 'pages', :action => 'home' }, :accesskey => '1'
      &nbsp;&nbsp;
      - if current_user
      
        Logged in as
        %strong
          = link_to current_user.login, :controller => :members, :action => :show, :login => current_user.login
        &nbsp;&nbsp;
        = link_to_unless_current "my books (#{current_user.books.count.to_s})", books_path, :accesskey => '2'
        &nbsp;&nbsp;
        = link_to_unless_current "lent (#{current_user.active_loans.count.to_s})", :lent, :accesskey => '3'
        &nbsp;&nbsp;
        = link_to_unless_current "borrowed (#{current_user.active_borrowings.count.to_s})", :borrowings, :accesskey => '4'
        &nbsp;&nbsp;
        = link_to_unless_current "watch list (#{current_user.watched_books.count.to_s})", :watchlist, :accesskey => '5'
        -#
          &nbsp;&nbsp;
          = link_to_unless_current "my account", :account, :accesskey => '6'
        &nbsp;&nbsp;
        = link_to_unless_current "[ log out ]", :logout, :method => :delete, :confirm => "Are you sure you want to logout?"
        &nbsp;&nbsp;
        %a{ :href => 'http://blog.the-social-library.org/' }<
          blog
      - else
        = link_to_unless_current "[ register ]", :register
        &nbsp;&nbsp;
        = link_to_unless_current "[ log in ]", :login
        &nbsp;&nbsp;
        %a{ :href => 'http://blog.the-social-library.org/' }<
          blog
          
    #vision_box 
      %span{:class => 'vision_text' }
        The vision is to re-think the future of books and libraries with the internet build in.<br>
        To create a great product opening broader connections between books and people,<br> 
        making it more dynamic, interactive, alive, exciting.<br> 
        It could be something like Facebook meets Ebay and Match.com.<br><br> 
        To give the community free access to books<br> 
        but also to prompt them to use books as an excuse<br> 
        for the community to start engaging with each other more.<br><br>
        Or it could be something entirely different,<br> 
        still as exciting and as dynamic. <br><br>
     
    #vision_box2 
      %span{:class => 'vision_text2' }
        Right now the-social-library is in its very infancy<br>
        it the very beginning. 
        Its just a basic tool for sharing books<br> and a blog to reflect on it.<br>
        It doesn't have many features, might not be very user-friendly,<br> 
        might lack a couple of substantial things,<br> 
        but its a very base of a great vision.<br>  
        At the moment we see it as a research tool,<br> 
        as a platform to build on.

    #easy_box 
      %span{:class => 'easy_text' }
        It's easy! 
        Just log on, register and add books you want to swap!
      %a{ :href => 'http://blog.the-social-library.org/', :class => 'easy_info_text' }<
        For more information please see our blog.
          
    
    #main
      
      - if flash.notice
        .notice= flash.notice
      - if flash.alert
        .notice.alert= flash.alert
  
      = yield
      
          
          
    
    #footer
      =link_to_unless_current "Disclaimer", { :controller => 'pages', :action => 'disclaimer' }
      
      %a{ :href => 'http://blog.the-social-library.org/' }<
        Blog
        

